*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #023246;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenair{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:460px ;
    border-radius: 20px;

}

form button{
    margin: 1px 0 1px 0;
    padding: 5px 0 5px 0;
    width: 455px;
    background-color: black;
    border: 1.5px solid grey;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
#employer{
    margin-top: 10px;
    background-color: #233246;
    padding: 20px;
    color: whitesmoke;
    border-radius: 20px;
    
}
span{
    color: #287094;
    font-size: 17px;
    font-weight: bold;
}
.form2{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.form2 input{
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: #287094;
    color: rgb(199, 199, 199);
    border:none;
    cursor: pointer;
    border-radius: 10px;
}
.form2 a{
    
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: #287094;
    color: rgb(199, 199, 199);
    border:none;
    border-radius: 10px;
}