*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #c4ad9d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenair{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:600px ;
    border-radius: 20px;

}

form button{
    margin: 1px 0 1px 0;
    padding: 5px 0 5px 0;
    width: 595px;
    background-color: black;
    border: 1.5px solid grey;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
