{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>home</title>
</head>
<body>
    <div id="contenair">
        <form action="/ajouter/" method="GET">
            <button type="submit">Ajouter</button>
        </form>
    </div>
    
    <div id="employer">
        {% for worker in workers %}
            <div><span>Nom : </span>{{worker.nom}}</div>
            <div><span>Numero : </span>{{worker.numero}} <span>Email : </span>{{worker.email}}</div>
            <div><span>Poste : </span>{{worker.poste}}</div>

            
            <form class="form2" action="/supprimer/{{ worker.id}}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Supprimer"/>
                <a href="/modifier/{{ worker.id }}">Modifier</a>
            </form>
            
            
        {% endfor %}
    </div>
</body>
</html>